* {
    margin: 0px;
}

html {
    height: 100%;
}

body {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    /*flex: 0 0 auto;*/
}

a {
    text-decoration: none;
}

.content-info h1, .content-buttons a, .content-buttons button {
    font-family: 'Gilroy-Bold';
}

.content-info p {
    font-family: 'Gilroy-Medium';
}

header {
    margin-top: 2%;
    margin-bottom:5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4em;
    flex: 0 0 auto;
}

nav {
    display: flex;
    gap: 1.5em;
}


header a {
    color: black;
}

    header a:hover {
        color: #F25822;
    }

.top {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    margin-top: 5%;
}

.content-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content img {
    width: 40%;
    margin-right: auto;
    margin-bottom: auto;
}

.content-info {
    margin-bottom: 10%;
}

    .content-info h1 {
        font-size: 60px;
        line-height: 70px;
        margin-bottom:0.5em;
    }

    .content-info p {
        font-size: 20px;
        line-height: 23px;
        color: #888888;
    }

.content-buttons {
    margin-left: 2em;
}

    .content-buttons a {
        font-size: 15px;
        line-height: 18px;
        color: #AAAAAA;
        margin-left: 2em;
    }

    .content-buttons button {
        background: #F25822;
        border-color: #F25822;
        box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
        border-radius: 50px;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
    }

.logo {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    flex: 0 0 auto;
}

    .logo img {
        max-width: 16%;
    }
