

@font-face {
    font-family: 'Lato';
    src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
